.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.login form {
  width: 75%;
}

.login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 1.25rem;
}

.login form input {
  width: 100%;
  margin-bottom: 1rem;
  height: 3rem;
  text-indent: 1rem;
  font-size: 1rem;
  color: black;
}